.main-layout {
  min-height: 100vh;
  background-color: #03001C;
  color: #fff;
}

/* navbar */
.my_navbar {
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  background-color:rgba(0,0,255,0.1);
  border-radius: 10px;
  z-index: 1;

}

.my_navbar nav {
  display: flex;
  flex-direction: column;
}

.my_navbar nav a {
  padding: 15px;
}

.close-btn {
  position: fixed;
  top: 1.9rem;
  left: 1rem;
  z-index: 1;
}

/* search */

.search form {
  display: flex;
  padding: 2rem 4rem;
}

.search form input {
  background-color:rgba(0,0,255,0.1);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.4rem;
  border: none;
}